<a href="https://colab.research.google.com/github/singammanasvi9440/Assignment1/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
#1
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
sorted_ages = sorted(ages)

#1a sort and store into a new list and displaying min and max age
print("Sorted list:",sorted_ages)
print("Min age =",sorted_ages[0],"Max age =",sorted_ages[-1])
min = sorted_ages[0]
max = sorted_ages[-1]

#1b adding min and max to the list
sorted_ages.append(min)
sorted_ages.append(max)
print("After appending the elements: ",sorted_ages)

#1c median age
length = len(sorted_ages)
if length % 2 == 0 :
    median_1 = sorted_ages[length//2]
    median_2 = sorted_ages[length//2 - 1]
    median = (median_1+median_2)//2
    print("Median age :",median)
else :
  median=sorted_ages[length//2]
  print("Median age = ",median)

#1d average age
sum = 0
for i in range (0,length):
  sum = sum + sorted_ages[i]
average = sum/length
print("Average age:",average)

#1e range of the ages
print("Range :",max-min)

Sorted list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age = 19 Max age = 26
After appending the elements:  [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median age : 24
Average age: 22.75
Range : 7

In [28]:
# Question 2

dog = {} #2a empty dictionary called dog
#2b Adding the keys name, color, breed, legs, age to the dog dictionary
dog = {"name":None, "color":None, "breed":None, "legs":None, "age":None}
#2c Create a student dictionary and add first_name, last_name, gender, age, marital status,skills, country, city and address as keys for the dictionary
student = {
    "first_name":None,
    "last_name":None, 
    "gender":None, 
    "age":None,
    "marital status":None,
    "skills":None, 
    "country":None, 
    "city":None, 
    "address":None
}
#2d length of the student dictionary
print("\nThe length of Student dictionary is : ",len(student))
student = {
    "first_name":'Manasvi',
    "last_name":'Singam', 
    "gender":'female', 
    "age":'22',
    "marital status": 'Unmarried',
    "skills":['Pressure handling','Critical Thinking','Thinking out of box','logical Thinking'], 
    "country":'United states', 
    "city":'Overland park', 
    "address":'5000w,cambridge square'
}
print("\nType :",type(student['skills'])) #2e value of skills and check the data type
print("\nThe skills are:",student.get('skills')) #2f Modify the skills values by adding one or two skills
student['skills'].append("Analytical writing")
print("\nThe skills are adding an extra skill:",student.get('skills'))
#2g Get the dictionary keys as a list
print("\nThe keys in student dictionary :",student.keys())
#2h Get the dictionary values as a list
print("\nThe values in student dictionary :",student.values())

The length of Student dictionary is :  9

Type : <class 'list'>

The skills are: ['Pressure handling', 'Critical Thinking', 'Thinking out of box', 'logical Thinking']

The skills are adding an extra skill: ['Pressure handling', 'Critical Thinking', 'Thinking out of box', 'logical Thinking', 'Analytical writing']

The keys in student dictionary : dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])

The values in student dictionary : dict_values(['Manasvi', 'Singam', 'female', '22', 'Unmarried', ['Pressure handling', 'Critical Thinking', 'Thinking out of box', 'logical Thinking', 'Analytical writing'], 'United states', 'Overland park', '5000w,cambridge square'])

In [29]:
# Question 3
#3a
brothers = ("Rithyansh", "Ayansh", "Harshith")
sisters = ("Yashaswi", "Sanju","sushma")
#3b joining two tuples
siblings = brothers+sisters
print("\nAfter adding brothers and sisters: ",siblings)
#3c 
print("\nThe length of siblings :",len(siblings))
# 3d adding up father_name and mother_name
siblings = siblings + ("Hanmanth Rao","Sujatha")
# assign the updated siblings tuple to the family_members
family_members = siblings
print("\nAfter adding father and mother name :",family_members,"\n")

After adding brothers and sisters:  ('Rithyansh', 'Ayansh', 'Harshith', 'Yashaswi', 'Sanju', 'sushma')

The length of siblings : 6

After adding father and mother name : ('Rithyansh', 'Ayansh', 'Harshith', 'Yashaswi', 'Sanju', 'sushma', 'Hanmanth Rao', 'Sujatha')

In [46]:
#4

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

#4a length of the set it_companies
print("length :",len(it_companies))
print("\n it_companies:", it_companies)

#4b Add 'Twitter' to it_companies
it_companies.add('Twitter')
print("\nAter adding a company, it_companies:",it_companies)

#4c Insert multiple IT companies at once to the set it_companies
new_companies = ['mindtree','accenture','sigma','NCR']
it_companies.update(new_companies)
print("\nAter adding multiple companies, it_companies:",it_companies)


#4d Remove one of the companies from the set it_companies
it_companies.remove('Apple')
print("\nAter deleting a company(i.e., Apple) it_companies: ",it_companies)

#4e What is the difference between remove and discard
print("The difference between remove and discard is if we want to delete an element in the set that is not present in the set by using remove it gives an error whereas discard doesn't show any error")
print("\ndicard usage",it_companies.discard('Tekaroon'))

#4f Join A and B
c=B.union(A)
print("\nAfter joining A and B, the resultant set:",c)
#4g Find A intersection B
print("\nIntersection set :",A.intersection(B))

#4h Is A subset of B
print("\nA is subset of B (True/False) :",A.issubset(B))

#4i Are A and B disjoint sets
print("\nAre A and B disjoint sets (True/False) :",A.isdisjoint(B))

#4j Join A with B and B with A
     # joining A with B
print("\nJoining A with B:",A.union(B))
print("Joining B with A:",B.union(A))

#4k What is the symmetric difference between A and B
print("\nThe symmentric difference is : ",A.symmetric_difference(B))

#4l Delete the sets completely
del A
del B


#13 Convert the ages to a set and compare the length of the list and the set
Set = set(age)
print("\nConverted to set",Set)
print("\nThe length of list is :",len(age),"and set is :",len(Set))

length : 7

 it_companies: {'Google', 'Amazon', 'IBM', 'Apple', 'Oracle', 'Facebook', 'Microsoft'}

Ater adding a company, it_companies: {'Google', 'Amazon', 'IBM', 'Apple', 'Oracle', 'Twitter', 'Facebook', 'Microsoft'}

Ater adding multiple companies, it_companies: {'Google', 'Amazon', 'IBM', 'sigma', 'Apple', 'Oracle', 'NCR', 'Twitter', 'mindtree', 'Facebook', 'accenture', 'Microsoft'}

Ater deleting a company(i.e., Apple) it_companies:  {'Google', 'Amazon', 'IBM', 'sigma', 'Oracle', 'NCR', 'Twitter', 'mindtree', 'Facebook', 'accenture', 'Microsoft'}
The difference between remove and discard is if we want to delete an element in the set that is not present in the set by using remove it gives an error whereas discard doesn't show any error

dicard usage None

After joining A and B, the resultant set: {19, 20, 22, 24, 25, 26, 27, 28}

Intersection set : {19, 20, 22, 24, 25, 26}

A is subset of B (True/False) : True

Are A and B disjoint sets (True/False) : False

Joining A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Joining B with A: {19, 20, 22, 24, 25, 26, 27, 28}

The symmentric difference is :  {27, 28}

Converted to set {19, 22, 24, 25, 26}

The length of list is : 8 and set is : 5

In [48]:
# Question 5

import math

constant = math.pi
r = 10

#Area of a circle Finding
_area_of_circle_ = constant * r * r
print("Area :",_area_of_circle_)

#Circumference Finding
_circum_of_circle_= 2 * constant * r
print("Circumference :",_circum_of_circle_)

#taking input (dynamically)
new_radius = float(input("Enter the radius value: "))
Area = constant * new_radius * new_radius

print("for given radius = ",new_radius,"\nArea :",Area)

Area : 314.1592653589793
Circumference : 62.83185307179586
Enter the radius value: 1
for given radius =  1.0
Area : 3.141592653589793

In [49]:
#6

sentence = "I am a teacher and I love to inspire and teach people"

#splitting the string for getting the individual elements
Split = sentence.split(" ")
sp_set = set(Split)
print("Set: ",sp_set)
print("Number of unique words: ",len(sp_set))

Set:  {'am', 'people', 'love', 'teacher', 'I', 'teach', 'to', 'inspire', 'a', 'and'}
Number of unique words:  10

In [50]:
#7

print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [54]:
#8

radius = 5
area = int(3.14 * radius ** 2)
#string formating
formatted_area = 'The area of circle with radius {} is {} meters square.'.format(radius, area)  
print(formatted_area)

The area of circle with radius 5 is 78 meters square.

In [57]:
# Question 9

# Dynamically taking the input
n = int(input('Enter the length:'))

# creating two lists one for lbs and other for kgs
list = []
con_list =[]
for i in range (0,n) :
    p =  float(input('Enter the value:'))
    list.append(p)

for i in range (0,n):
      q = list[i] * 0.453592
      con_list.append(round(q,2))
print("\nConerted to kgs: ",con_list)

Enter the length:4
Enter the value:5
Enter the value:67
Enter the value:78
Enter the value:87

Conerted to kgs:  [2.27, 30.39, 35.38, 39.46]